[user]
    name = @zimeg
    email = zim@o526.net
[alias]
    last = log -1 HEAD
    list = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    staged = diff --staged
    unstage = restore --staged
    update = "!git checkout main && git pull && git checkout - && git merge main --message 'chore: merge w main'"
    whatsnew = diff HEAD@{1} HEAD
[init]
    defaultBranch = main
[fetch]
    prune = true
[pull]
    rebase = false
[push]
    default = simple
[advice]
    addEmptyPathspec = false
[color]
    ui = auto
[core]
    ignorecase = true
    editor = nvim
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[filter "lfs"]
    required = true
    process = git-lfs filter-process
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
